
.icon-github-circled-alt:before { content: '\f053'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */