body
{
    color:black;
    background-color: #5786E8;
    font-family: 'Lato', sans-serif;
    background-image: url("tlo.jpg");
}
#container
{
    width:1000px;
    height:1000px;
    margin-left: auto;
    margin-right: auto;

}
.menu
{
    width:100px;
    height:40px;

}
.menu:hover
{

}
header
{
    background-color:#A66A1D;
    opacity: 1;
}
.pusty
{
    clear:both;
}
main
{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    background-color: blueviolet;
    height:600px;
    width:1000px;
}
p
{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}
footer
{
    width:1000px;
    height:80px;
    background-color: lightseagreen;
}